./讀書會報告/
SMA-midterm-2020S-2.pdf
week3_nlp/raw_data
week4_sentiment_analysis/data
week4_sentiment_analysis/SourceHanSansTW-Regular.otf

week6_sentiment_analysis2/TaipeiSansTCBeta-Regular.ttf
week6_sentiment_analysis2/data
week6_sentiment_analysis2/data.zip
week6_sentiment_analysis2/raw_data